* {
    box-sizing: border-box;
}

body {
   background-color: #121725;
   overflow: hidden;
}

.css-main {
    position: relative;
    display: flex;
}
.css-background {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.css-background .css-logo {
    position: relative;
    top: -76%;
    left: 15%;
}


.css-background .css-artist {
    position: relative;
    width: 888px;
    height: 640px;
    top: 7%;
    left: 33%;
}

.css-background .css-dots {
    position: absolute;
    width: 232px;
    height: 104px;
    top: 89%;
    left: 85%;
}

.css-content {
    position: absolute;
    top: 25%;
    left: 17%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    width: 723px;
    height: 509px;
    background-color: #121725;
}

.css-form {
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    border-radius: 25px;
    width: 427px;
    height: 56px;
    padding:2px;
    background-color: #2C344B;
  }
  
.css-form input {
    font-family: "Chivo";
    flex-grow:2;
    border-radius: 25px;
    padding-left: 20px;
    background-color: #2C344B;
    border: none;
    font-size: 14px;
    line-height: 28px;
  }
  
.css-form input:focus {
    outline: none;
  }
  
.css-form button {
    font-family: "Chivo";
    width: 162px;
    height: 46px;
    background:#54E6AF;
    border: none;
    border-radius: 25px;
    color: #121725;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
  }

.css-podcasts {
      display: flex;
      gap: 30px;
      width: 129px;
      height: 26px;
}

.css-title {
    font-family: "Chivo";
    font-size: 52px;
    line-height: 62px;
    font-weight: 400;
    color: white;
}

.css-title span {
    color: #54E6AF;
}

.css-body {
    font-family: "Chivo";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #C2CBE5;
}

.css-error-message {
    visibility: hidden;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.28px;
    color: #FB3E3E;
    padding-left: 20px;
}

.css-error-message-visible {
    visibility: visible;
}



@media screen and (max-width: 450px) {
    .css-background {
        background-image: url(assets/mobile/image-host.jpg);
        opacity: 0.2;
    }
    .css-background .css-logo {
        top: 6%;
        left: 28%;
        opacity: none;
    }

    .css-background .css-dots {
        display: none;
    }

    .css-background .css-artist {
        display: none;
    }

    .css-content {
        width: 327px;
        height: 398px;
        top: 21%;
        left: 5%;
        justify-content: space-between;
    }

    .css-title {
        font-family: "Chivo";
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    .css-body {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }

    .css-form {
        width: 327px;
        height: 108px;
        background-color: #121725;
        flex-direction: column;
        border: none;
        gap: 10px;
        order: 2;
    }

    .css-form input {
        width: 327px;
        height: 46px;
        flex-grow: 0;
    }

    .css-form button {
        width: 327px;
        height: 46px;
    }

    .css-podcasts {
        display: flex;
        gap: 30px;
        width: 315px;
        height: 17px;
        order: 1;
        margin-bottom: 40px;
    }
    
    .css-podcasts img {
        width: 56px;
        height: 17px;
    }
}

@media screen and (min-width: 450px) and (max-width: 1200px) {
    .css-background .css-artist {
        top: -1%;
        left: 20%;
        width: 491px;
        height: 767px;
        content: url(assets/tablet/image-host.jpg);
    }
    
    .css-background .css-dots {
        top: 89%;
        left: 5%;
    }
    .css-content {
        position: absolute;
        top: 22%;
        left: 7%;
        width: 635px;
        height: 509px;
    }
}